body {
    color: white;
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-family: Calibri;
    margin-bottom: 20px;
    margin-top: 0px;
}

header {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}

nav {
    justify-content: center;
    display: flex;
    font-size: 22px;
}

li{
    transition:0.3s all;
}

nav li:hover {
    background-color: #5b1c4c;
}

article {
    text-align: center;
    width: 90%;
    background-color: rgb(15, 15, 23);
    background-position: center;
    opacity: 0.9;
    margin: 0 auto;
}

.main-content-class{
    border: 8px solid #5b1c4c;
    padding: 10px;
}

footer {
    width: 100%;
    height: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: rgb(15, 15, 23);
    text-align: center;
    opacity: 0.6;
    position: fixed;
    font-size: 12px;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

.link{
    color: white;
    text-decoration: none;
}

li{
    padding: 10px 30px;
}

img:not(.logo){
    border: 2px solid #9c307f;
    padding: 0;
    margin: 5px;
    object-fit: contain;
    width:  400px;
    height: auto;
}

.logo{
    width:  auto;
    height: 40px;
    margin-bottom: 0;
}

.site-name{
    color: white;
    text-decoration: inherit;
    margin-top: 0;
    font-family: Arial, sans-serif;
    font-size: 45px;
    font-weight: bold;
}
fieldset{
    border: 3px solid #5b1c4c;
    margin: 40px;
}

legend{
    font-size: 200%;
}

h2{
    margin-bottom: 0;
}

.home-titles{
    text-align: left;
    border: 3px solid black;
    padding: 5px;
    margin: 0;
    background-color: #270c21;
}

.home-descr{
    text-align: left;
    border: 3px solid black;
    padding: 0;
    margin: 0;
}
.itemize{
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
}

.my-list-item{
    margin-bottom: 0px;
    float: left;
    display: block;
}

.my-link{
    text-decoration: none;
    color: #edc4e2;
}

.my-link:hover{
    background-color: #270c21;
    padding: 2px;
    color: #edc4e2;
}
.my-link:visited{
    color: #ff99ff;
}

/* tablet */
@media screen and (max-width: 950px) {
    body{
        min-width: fit-content;
        margin: 0;
        min-height: 100%;
        width: 100%;
    }
    html{
        margin: 0;
        height: 100%;
        width: 100%;
    }
    img:not(.logo){
        width:  250px;
    }
}

/* phone */
@media screen and (max-width: 500px){
    fieldset{
        margin: 0;
        border: none;
    }
    article{
        width: 100%;
    }
    main{
        width: 100%;
    }
    body{
        min-width: fit-content;
        margin: 0;
        min-height: 100%;
        width: 100%;
    }
    html{
        margin: 0;
        height: 100%;
        width: 100%;
    }
    li{
        display: inline;
    }
    ul{
        display: inline;
    }
    nav{
        display: inline;
    }
    img:not(.logo){
        width:  100px;
    }
}