{% extends "base.html" %}

{% block content %}
    <h1 class="home-titles">About the project</h1>
    <div class="home-descr">
        <p>
            This application was developed during Case Study course in Summer 2022/2023 by
            <a class="my-link" href="https://github.com/kajkaj98">Joanna Kajka</a>,
            <a class="my-link" href="https://github.com/miszalskan">Nikola Miszalska</a> and
            <a class="my-link" href="https://github.com/malwina0">Malwina Wojewoda</a>.<br>
            We are students of Data Science at the Faculty of Mathematics and Information Science of Warsaw University of Technology.
        </p>
    </div>
{% endblock content %}